<h2 class="page-title">Добавить отдел</h2>
<br><br>
<a href="/admin_departament" class="btn btn-primary">Показать все отделы</a>
<br><br>

<form method="post" action="/admin_departament/add-departament/" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">name</label>
        <input type="text" class="form-control" name="name" value="<%= name %>" placeholder="name">
    </div>

     <div class="form-group">
            <label for="">chief</label>
            <input type="text" class="form-control" name="chief" value="<%= chief %>" placeholder="chief">
        </div>
           <div class="form-group">
                        <label for="">description</label>
                        <textarea name="description" class="form-control" id="ta" cols="30" rows="10" placeholder="description"><%= description %></textarea>
                    </div>


    <div class="form-group">
            <label for="">schedule</label>
            <textarea name="schedule" class="form-control" id="ta" cols="30" rows="10" placeholder="schedule"><%= schedule %></textarea>
        </div>


            <div class="form-group">
                    <label for="">contacts</label>
                    <textarea name="contacts" class="form-control" id="ta" cols="30" rows="10" placeholder="contacts"><%= contacts %></textarea>
                </div>

                           <div class="form-group">
                                                  <label for="">nameMen</label>
                <ul class="list-without-dots">
                                                      <% nameMen.map(function(men){ %>
                                                        <li>  <input type="radio" name="nameMen" value="<%= men._id %>"><%= men.fullName %></input></li>
                                                      <% }); %>
                </ul>
                                              </div>

    <button class="btn btn-default">Добавить</button>

          <% if (errors) {%>
              <% errors.forEach(function(error) { %>
              <div class="alert alert-danger">
                  <%= error.msg %>
              </div>
              <% });%>
          <% }%>
</form>
