<h2 class="page-title">Редактировани данных человека</h2>
<a href="/admin_management" class="btn btn-primary">Назад</a>
<br><br>

<form method="post" action="/admin_management/edit-men/<%= id %>" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">fullName</label>
        <input type="text" class="form-control" name="fullName" value="<%= fullName %>" placeholder="fullName">
    </div>

 <div class="form-group">
        <label for="">position</label>
        <input type="text" class="form-control" name="position" value="<%= position %>" placeholder="position">
    </div>

      <div class="form-group">
                                      <label for="">department</label>
    <ul class="list-without-dots">
                                          <% department.forEach(function(dep){ %>
                                            <li>  <input type="checkbox" name="department" value="<%= dep.name %>"><%= dep.name %></input></li>
                                          <% }); %>
    </ul>
                                  </div>

   <div class="form-group">
          <label for="">Картинка</label>
          <input type="text" class="form-control" name="image" id="img" value="<%= image %>">

      </div>

    <button class="btn btn-default">Submit</button>
</form>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
<script>

    // Dropzone
    Dropzone.options.dropzoneForm = {
        acceptedFiles: "image/*",
        init: function() {
            this.on("queuecomplete", function(file) {
               setTimeout(function() {
                location.reload()
                }, 1000);
            });
        }
    }

</script>